Repository Fast-64/fast64, pull requests merged in 2022-11, with the labels that each got.

#126 OOT Link Import/Export + Flipbook Import/Export + Animation Updates/Fixes
  __init__.py
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/f3d/flipbook.py
  fast64_internal/f3d_material_converter.py
  fast64_internal/oot/README.md
  fast64_internal/oot/__init__.py
  fast64_internal/oot/oot_anim.py
  fast64_internal/oot/oot_collision.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/oot/oot_skeleton.py
  fast64_internal/oot/oot_skeleton_import_data.py
  fast64_internal/oot/oot_texture_array.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/utility.py
  fast64_internal/utility_anim.py
  images/oot_flipbook.png
  images/oot_imported_gerudo_textured.png
  images/oot_link_texture_anim.png
Labels: oot

#159 [SM64] tex scrolling adjustments
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
Labels: merge soon, sm64

#176 [OoT] Applied new organisation to ``c_writer/``
  fast64_internal/oot/__init__.py
  fast64_internal/oot/c_writer/__init__.py
  fast64_internal/oot/c_writer/oot_level_c.py
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/scene/exporter/to_c/__init__.py
  fast64_internal/oot/scene/exporter/to_c/actor.py
  fast64_internal/oot/scene/exporter/to_c/level_c.py
  fast64_internal/oot/scene/exporter/to_c/room_commands.py
  fast64_internal/oot/scene/exporter/to_c/room_header.py
  fast64_internal/oot/scene/exporter/to_c/room_shape.py
  fast64_internal/oot/scene/exporter/to_c/scene_bootup.py
  fast64_internal/oot/scene/exporter/to_c/scene_collision.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
  fast64_internal/oot/scene/exporter/to_c/scene_cutscene.py
  fast64_internal/oot/scene/exporter/to_c/scene_folder.py
  fast64_internal/oot/scene/exporter/to_c/scene_header.py
  fast64_internal/oot/scene/exporter/to_c/scene_pathways.py
  fast64_internal/oot/scene/exporter/to_c/scene_table_c.py
  fast64_internal/oot/scene/exporter/to_c/spec.py
Labels: oot, codebase

#95 [OoT] OoT Object changes & small changes/fixes/removals
  __init__.py
  fast64_internal/oot/data/oot_actor_data.py
  fast64_internal/oot/data/oot_data.py
  fast64_internal/oot/data/oot_getters.py
  fast64_internal/oot/data/oot_object_data.py
  fast64_internal/oot/data/xml/ActorList.xml
  fast64_internal/oot/data/xml/ObjectList.xml
  fast64_internal/oot/oot_actor.py
  fast64_internal/oot/oot_constants.py
  fast64_internal/oot/oot_level.py
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_object.py
  fast64_internal/oot/oot_operators.py
  fast64_internal/oot/oot_parse.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_upgrade.py
  fast64_internal/oot/scene/exporter/to_c/actor.py
  fast64_internal/oot/scene/exporter/to_c/room_commands.py
  fast64_internal/oot/scene/exporter/to_c/room_header.py
  fast64_internal/oot/scene/exporter/to_c/room_shape.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
  fast64_internal/oot/scene/exporter/to_c/scene_header.py
  fast64_internal/oot/scene/exporter/to_c/scene_pathways.py
  fast64_internal/oot/sceneDirectoryParser.py
Labels: oot

#164 [SM64] Import Cleanup
  fast64_internal/sm64/__init__.py
  fast64_internal/sm64/parse_function_map.py
  fast64_internal/sm64/sm64_anim.py
  fast64_internal/sm64/sm64_camera.py
  fast64_internal/sm64/sm64_collision.py
  fast64_internal/sm64/sm64_f3d_parser.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/sm64/sm64_geolayout_bone.py
  fast64_internal/sm64/sm64_geolayout_classes.py
  fast64_internal/sm64/sm64_geolayout_parser.py
  fast64_internal/sm64/sm64_geolayout_utility.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_level_parser.py
  fast64_internal/sm64/sm64_level_writer.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/sm64/sm64_spline.py
  fast64_internal/sm64/sm64_texscroll.py
  fast64_internal/sm64/sm64_utility.py
Labels: merge soon, sm64, codebase

#174 GBI Macro Refactoring + F3D Sync Optimization
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_writer.py
Labels: test please

#181 [OoT] Fix for custom Object IDs (and formatted some files)
  fast64_internal/oot/oot_actor.py
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_texture_array.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
Labels: bug, merge soon, oot

#182 Import all Mario animations button.
  fast64_internal/sm64/sm64_anim.py
  fast64_internal/sm64/sm64_constants.py
Labels: merge soon, test please, sm64
