Repository Fast-64/fast64, pull requests merged in 2022-12, with the labels that each got.

#190 [F3D] Flipbook CI textures no longer modify DLs after creation
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/sm64/sm64_f3d_writer.py
Labels: merge soon, oot, f3d

#187 [OoT] Exporter code cleanup
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/oot/data/__init__.py
  fast64_internal/oot/oot_anim.py
  fast64_internal/oot/oot_constants.py
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/oot/oot_object.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_skeleton.py
  fast64_internal/oot/oot_skeleton_import_data.py
  fast64_internal/oot/oot_spline.py
  fast64_internal/oot/oot_texture_array.py
  fast64_internal/oot/oot_upgrade.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/scene/exporter/to_c/__init__.py
  fast64_internal/oot/scene/exporter/to_c/actor.py
  fast64_internal/oot/scene/exporter/to_c/level_c.py
  fast64_internal/oot/scene/exporter/to_c/room_commands.py
  fast64_internal/oot/scene/exporter/to_c/room_header.py
  fast64_internal/oot/scene/exporter/to_c/room_shape.py
  fast64_internal/oot/scene/exporter/to_c/scene.py
  fast64_internal/oot/scene/exporter/to_c/scene_bootup.py
  fast64_internal/oot/scene/exporter/to_c/scene_collision.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
  fast64_internal/oot/scene/exporter/to_c/scene_cutscene.py
  fast64_internal/oot/scene/exporter/to_c/scene_folder.py
  fast64_internal/oot/scene/exporter/to_c/scene_header.py
  fast64_internal/oot/scene/exporter/to_c/scene_pathways.py
  fast64_internal/oot/scene/exporter/to_c/spec.py
  fast64_internal/utility.py
Labels: merge soon

#168 Use object name for OOT exporters
  fast64_internal/oot/__init__.py
  fast64_internal/oot/oot_anim.py
  fast64_internal/oot/oot_collision.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/oot_skeleton.py
Labels: merge soon, oot

#199 [OoT] Fixed issues with recent decomp changes
  fast64_internal/oot/oot_anim.py
  fast64_internal/oot/oot_collision.py
  fast64_internal/oot/oot_collision_classes.py
  fast64_internal/oot/oot_constants.py
  fast64_internal/oot/oot_cutscene.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/oot_level.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_skeleton.py
  fast64_internal/oot/scene/exporter/to_c/scene_table_c.py
Labels: bug, merge soon, oot

#152 [OoT] Applied new organisation to Panels
  __init__.py
  fast64_internal/oot/__init__.py
  fast64_internal/oot/actor/operators.py
  fast64_internal/oot/actor/properties.py
  fast64_internal/oot/animation/operators.py
  fast64_internal/oot/animation/panels.py
  fast64_internal/oot/animation/properties.py
  fast64_internal/oot/collision/operators.py
  fast64_internal/oot/collision/panels.py
  fast64_internal/oot/collision/properties.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/cutscene/panels.py
  fast64_internal/oot/cutscene/properties.py
  fast64_internal/oot/f3d/operators.py
  fast64_internal/oot/f3d/panels.py
  fast64_internal/oot/f3d/properties.py
  fast64_internal/oot/file_settings.py
  fast64_internal/oot/oot_actor.py
  fast64_internal/oot/oot_anim.py
  fast64_internal/oot/oot_collision.py
  fast64_internal/oot/oot_cutscene.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/oot_level.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/oot/oot_operators.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_skeleton.py
  fast64_internal/oot/oot_skeleton_import_data.py
  fast64_internal/oot/oot_spline.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/props_panel_main.py
  fast64_internal/oot/room/operators.py
  fast64_internal/oot/room/properties.py
  fast64_internal/oot/scene/exporter/to_c/__init__.py
  fast64_internal/oot/scene/exporter/to_c/room_shape.py
  fast64_internal/oot/scene/exporter/to_c/scene_bootup.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
  fast64_internal/oot/scene/exporter/to_c/scene_header.py
  fast64_internal/oot/scene/operators.py
  fast64_internal/oot/scene/panels.py
  fast64_internal/oot/scene/properties.py
  fast64_internal/oot/skeleton/operators.py
  fast64_internal/oot/skeleton/panels.py
  fast64_internal/oot/skeleton/properties.py
  fast64_internal/oot/spline/panels.py
  fast64_internal/oot/spline/properties.py
  fast64_internal/oot/tools/__init__.py
  fast64_internal/oot/tools/operators.py
  fast64_internal/oot/tools/panel.py
Labels: merge soon, oot, codebase

#183 [SM64] Allow editing of group level segments on level export
  fast64_internal/sm64/sm64_constants.py
  fast64_internal/sm64/sm64_level_writer.py
  fast64_internal/sm64/sm64_objects.py
Labels: test please, sm64
