Repository Fast-64/fast64, pull requests merged in 2022-09, with the labels that each got.

#129 OoT scene lighting
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_operators.py
  fast64_internal/oot/oot_scene_room.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/render_settings.py
  fast64_internal/utility.py
Labels: oot, f3d

#139 Format __init__.py and oot_constants.py
  __init__.py
  fast64_internal/oot/oot_constants.py
Labels: merge soon, codebase

#130 Support for vanilla animation tables
  fast64_internal/sm64/sm64_anim.py
Labels: test please, sm64

#138 Auto set F3D version when game editor mode is set
  __init__.py
Labels: merge soon

#136 Fixed OOT texture file saving for skeletons/DLs, refactored import/export settings into property groups.
  __init__.py
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/__init__.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_skeleton.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_level_writer.py
Labels: merge soon, oot

#120 [OoT] "Add Path" button
  fast64_internal/oot/oot_operators.py
Labels: merge soon, oot

#123 Add option to boot directly to a scene in HackerOOT
  fast64_internal/oot/__init__.py
  fast64_internal/oot/c_writer/__init__.py
  fast64_internal/oot/c_writer/oot_scene_bootup.py
  fast64_internal/oot/oot_constants.py
  fast64_internal/oot/oot_level_writer.py
Labels: merge soon, oot

#147 Updated minimum version in the readme + plugin description update
  README.md
  __init__.py
Labels: merge soon
