Repository Fast-64/fast64, pull requests merged in 2023-12, with the labels that each got.

#266 F3DEX3 cel shading and updates
  README.md
  fast64_internal/f3d/f3d_enums.py
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_material_presets.py
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/README.md
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/utility.py
Labels: enhancement, f3d

#254 Use object.type instead of object.data to check which type it is
  __init__.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_render_engine.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/f3d/flipbook.py
  fast64_internal/f3d_material_converter.py
  fast64_internal/oot/collision/operators.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/f3d/operators.py
  fast64_internal/oot/oot_collision.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/props_panel_main.py
  fast64_internal/oot/scene/operators.py
  fast64_internal/oot/scene/properties.py
  fast64_internal/oot/skeleton/operators.py
  fast64_internal/oot/skeleton/properties.py
  fast64_internal/oot/skeleton/utility.py
  fast64_internal/sm64/sm64_anim.py
  fast64_internal/sm64/sm64_collision.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_level_writer.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/utility.py
  fast64_internal/utility_anim.py
Labels: merge soon

#269 [OoT] Add Quick Import button
  fast64_internal/oot/tools/operators.py
  fast64_internal/oot/tools/panel.py
  fast64_internal/oot/tools/quick_import.py
Labels: merge soon, oot

#208 [OoT] Cutscene Implementation Update
  fast64_internal/oot/README.md
  fast64_internal/oot/__init__.py
  fast64_internal/oot/cutscene/classes.py
  fast64_internal/oot/cutscene/constants.py
  fast64_internal/oot/cutscene/exporter/__init__.py
  fast64_internal/oot/cutscene/exporter/classes.py
  fast64_internal/oot/cutscene/exporter/functions.py
  fast64_internal/oot/cutscene/importer/__init__.py
  fast64_internal/oot/cutscene/importer/classes.py
  fast64_internal/oot/cutscene/importer/functions.py
  fast64_internal/oot/cutscene/motion/constants.py
  fast64_internal/oot/cutscene/motion/exporter/__init__.py
  fast64_internal/oot/cutscene/motion/exporter/classes.py
  fast64_internal/oot/cutscene/motion/exporter/functions.py
  fast64_internal/oot/cutscene/motion/io_classes.py
  fast64_internal/oot/cutscene/motion/operators.py
  fast64_internal/oot/cutscene/motion/panels.py
  fast64_internal/oot/cutscene/motion/preview.py
  fast64_internal/oot/cutscene/motion/properties.py
  fast64_internal/oot/cutscene/motion/utility.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/cutscene/panels.py
  fast64_internal/oot/cutscene/preview.py
  fast64_internal/oot/cutscene/properties.py
  fast64_internal/oot/data/oot_enum_data.py
  fast64_internal/oot/data/xml/EnumData.xml
  fast64_internal/oot/oot_constants.py
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/oot_upgrade.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/props_panel_main.py
  fast64_internal/oot/scene/exporter/to_c/__init__.py
  fast64_internal/oot/scene/exporter/to_c/actor.py
  fast64_internal/oot/scene/exporter/to_c/room_commands.py
  fast64_internal/oot/scene/exporter/to_c/room_header.py
  fast64_internal/oot/scene/exporter/to_c/room_shape.py
  fast64_internal/oot/scene/exporter/to_c/scene_commands.py
  fast64_internal/oot/scene/exporter/to_c/scene_cutscene.py
  fast64_internal/oot/scene/exporter/to_c/scene_header.py
  fast64_internal/oot/scene/exporter/to_c/scene_pathways.py
  fast64_internal/oot/scene/operators.py
  fast64_internal/oot/scene/properties.py
Labels: merge soon, oot
