Repository Fast-64/fast64, pull requests merged in 2024-12, with the labels that each got.

#481 [OoT] Update cutscene macro names
  fast64_internal/oot/cutscene/constants.py
  fast64_internal/oot/cutscene/exporter/classes.py
  fast64_internal/oot/cutscene/importer/classes.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/cutscene_docs.md
  fast64_internal/oot/exporter/cutscene/__init__.py
Labels: merge soon, oot

#450 [SM64] Fix/Improve multi-actor UI (not export all selected)
  fast64_internal/sm64/settings/properties.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/utility.py
Labels: bug, enhancement, merge soon, sm64

#413 [SM64] Only throw empty gfx exception in actor exports
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_level_writer.py
Labels: bug, merge soon, sm64
