Repository Fast-64/fast64, pull requests merged in 2024-08, with the labels that each got.

#396 Support ZAPD bone enums for skeleton import
  .gitignore
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/skeleton/importer/functions.py
  fast64_internal/oot/skeleton/utility.py
  scripts/oot/make_all_skeletons.py
  scripts/oot/make_skeletons.py
Labels: merge soon, oot

#391 [F3D] Fix 4.2 node additions
  __init__.py
Labels: merge soon

#377 [F3D] Fix RDP world defaults
  __init__.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/oot/oot_constants.py
  fast64_internal/repo_settings.py
  fast64_internal/sm64/sm64_constants.py
Labels: f3d

#376 [SM64] Refresh 16
  fast64_internal/sm64/parse_function_map.py
  fast64_internal/sm64/settings/constants.py
  fast64_internal/sm64/settings/properties.py
  fast64_internal/sm64/sm64_function_map.py
  fast64_internal/sm64/sm64_level_writer.py
Labels: merge soon, sm64

#398 [OoT] Fixed room actors being duplicated
  fast64_internal/oot/oot_utility.py
Labels: bug, merge soon, oot

#385 [F3D] Show tlut othermode in materials and world defaults
  fast64_internal/f3d/f3d_bleed.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_texture_writer.py
  fast64_internal/f3d/f3d_writer.py
Labels: merge soon, f3d

#407 [F3D] Fix binary exports
  fast64_internal/f3d/f3d_gbi.py
Labels: bug, merge soon, f3d

#399 [F3D] Pass in shade alpha into fog blender instead of disabling it when fog is off
  fast64_internal/f3d/f3d_material.py
Labels: f3d

#406 [OoT] Fixup Quick Import
  fast64_internal/oot/tools/quick_import.py
Labels: bug, merge soon, oot

#408 [OoT] Fix #404 - Link eyes/mouths import
  fast64_internal/oot/oot_texture_array.py
Labels: bug, merge soon, oot

#409 [OoT] Fix #291 - Link anim import
  fast64_internal/oot/animation/importer/functions.py
Labels: bug, merge soon, oot

#410 [OoT] Fix #384 - Custom path DL imports
  fast64_internal/oot/f3d/operators.py
Labels: bug, merge soon, oot

#240 [OOT] Applied new organisation to ``oot_level_parser.py``
  fast64_internal/oot/importer/__init__.py
  fast64_internal/oot/importer/actor.py
  fast64_internal/oot/importer/classes.py
  fast64_internal/oot/importer/constants.py
  fast64_internal/oot/importer/room_header.py
  fast64_internal/oot/importer/room_shape.py
  fast64_internal/oot/importer/scene.py
  fast64_internal/oot/importer/scene_collision.py
  fast64_internal/oot/importer/scene_header.py
  fast64_internal/oot/importer/scene_pathways.py
  fast64_internal/oot/importer/utility.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/scene/operators.py
  fast64_internal/utility.py
Labels: merge soon

#422 [SM64] Fix #421 - Custom path DL/Geolayout exports
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/sm64/sm64_geolayout_writer.py
Labels: bug, merge soon, sm64

#297 [OoT] Implemented quick cutscene import and single cutscene import
  fast64_internal/oot/cutscene/importer/classes.py
  fast64_internal/oot/cutscene/importer/functions.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/cutscene/panels.py
  fast64_internal/oot/tools/quick_import.py
Labels: merge soon, oot

#334 [Codebase] Automatically find or add world
  fast64_internal/f3d/f3d_bleed.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/f3d/panels.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/utility.py
Labels: bug, merge soon, codebase

#401 [F3D] Edge case for decals, use hashed for cutout materials instead of blend + more
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/oot/f3d/properties.py
  fast64_internal/sm64/sm64_f3d_writer.py
Labels: merge soon

#420 [OoT] Fixed actors exported in several rooms
  fast64_internal/oot/exporter/room/header.py
  fast64_internal/oot/oot_utility.py
Labels: bug, merge soon, oot

#419 [F3D] Fix issues in the GBI macros
  fast64_internal/f3d/f3d_gbi.py
Labels: bug, merge soon, f3d

#417 Fix gMtxClear reference for OOT scene importing
  fast64_internal/f3d/f3d_parser.py
Labels: merge soon

#387 [F3D Bleed] Fix #386 - Make FImage hashable (now a dataclass)
  fast64_internal/f3d/f3d_gbi.py
Labels: merge soon, f3d

#366 [OoT] Fix latest decomp issues
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/oot/README.md
  fast64_internal/oot/__init__.py
  fast64_internal/oot/animation/operators.py
  fast64_internal/oot/collision/exporter/to_c/collision.py
  fast64_internal/oot/f3d/operators.py
  fast64_internal/oot/f3d/properties.py
  fast64_internal/oot/file_settings.py
  fast64_internal/oot/importer/scene.py
  fast64_internal/oot/oot_level_parser.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/scene/operators.py
  fast64_internal/oot/scene/panels.py
  fast64_internal/oot/skeleton/exporter/functions.py
  fast64_internal/oot/skeleton/importer/functions.py
  fast64_internal/oot/skeleton/properties.py
  fast64_internal/oot/tools/quick_import.py
Labels: merge soon, oot, codebase

#427 [F3D] Don´t update format to reload node values
  fast64_internal/f3d/f3d_material.py
Labels: bug, merge soon, f3d

#428 [OoT] Fix scene custom path import
  fast64_internal/oot/importer/scene.py
  fast64_internal/oot/oot_level_parser.py
Labels: bug, merge soon, oot

#414 [F3D Bleed] Fix #412 - Compare DPSetTileSize tags to last cmd's
  fast64_internal/f3d/f3d_bleed.py
Labels: merge soon, f3d

#415 [SM64] Check actual bone type instead of group or collections
  fast64_internal/sm64/sm64_geolayout_bone.py
Labels: bug, merge soon, sm64

#425 [SM64] Fix #352 regression
  fast64_internal/utility.py
Labels: bug, sm64

#435 [OOT] Fix unnecessary int conversions for collision properties
  fast64_internal/oot/exporter/collision/__init__.py
  fast64_internal/oot/exporter/collision/surface.py
Labels: merge soon

#433 [UI] [OOT] More informative text regarding culling
  fast64_internal/oot/props_panel_main.py
  fast64_internal/oot/room/properties.py
Labels: enhancement, merge soon, oot
