Repository Fast-64/fast64, pull requests merged in 2024-09, with the labels that each got.

#434 [SM64] Fix persistent block spam
  fast64_internal/sm64/sm64_level_writer.py
Labels: bug, sm64

#442 [SM64] Future proof release for future hacker exclusive features
  fast64_internal/sm64/settings/constants.py
  fast64_internal/sm64/sm64_geolayout_classes.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/sm64/sm64_utility.py
Labels: test please, sm64

#405 [SM64] Fix combined exporter level regressions
  fast64_internal/sm64/settings/properties.py
  fast64_internal/sm64/sm64_collision.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_level_writer.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/sm64/tools/operators.py
  fast64_internal/utility.py
Labels: sm64

#440 [F3D/MK64] Fix #366 regression
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/oot/skeleton/importer/functions.py
Labels: bug, f3d

#448 [SM64] fix exporting the levels/scripts.c write for common1 and group0
  fast64_internal/sm64/sm64_objects.py
Labels: bug, merge soon, sm64

#429 Speed up render settings update and add toggle for doing it manually
  __init__.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/render_settings.py
Labels: enhancement, merge soon, f3d

#465 [F3D] Quick BSDF converter fix
  fast64_internal/f3d_material_converter.py
Labels: bug, f3d
