Repository Fast-64/fast64, pull requests merged in 2024-04, with the labels that each got.

#299 Prefer RGBA over CI toggle for automatic texture format
  __init__.py
  fast64_internal/f3d/f3d_material.py
Labels: f3d

#314 [OoT] Externalize cutscene float values export/import
  fast64_internal/oot/cutscene/classes.py
  fast64_internal/oot/cutscene/exporter/classes.py
Labels: oot

#322 Fix preset in new materials, consolidate applying presets
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_material_presets.py
Labels: bug, f3d

#272 [OoT] Refactor ``scene_table_c.py``
  fast64_internal/oot/oot_level_classes.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/scene/exporter/to_c/scene_table_c.py
  fast64_internal/oot/scene/operators.py
Labels: oot, codebase

#306 [OoT] Refactor ``spec.py``
  fast64_internal/oot/oot_level_writer.py
  fast64_internal/oot/scene/exporter/to_c/spec.py
  fast64_internal/oot/scene/operators.py
Labels: oot, codebase
