Repository Fast-64/fast64, pull requests merged in 2024-02, with the labels that each got.

#304 Solidify checking materials assigned to faces
  fast64_internal/f3d/f3d_writer.py
Labels: merge soon, f3d

#249 Fixed large uv wrapping
  fast64_internal/f3d/f3d_writer.py
Labels: bug, f3d

#271 Rendermode internal simplification
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_material_presets.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/oot_upgrade.py
Labels: merge soon, codebase, f3d

#276 Some f3d parser cleanup
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/utility.py
Labels: merge soon, codebase, f3d

#312 Blender 3.2 Compatibility
  fast64_internal/f3d/f3d_material_library.blend
Labels: merge soon
