Repository Fast-64/fast64, pull requests merged in 2025-02, with the labels that each got.

#459 [SM64] Bring binary dl exporter up-to-date
  fast64_internal/sm64/sm64_f3d_writer.py
Labels: sm64

#470 [mk64] Implement Material Presets & World Defaults
  __init__.py
  fast64_internal/f3d/f3d_material_presets.py
  fast64_internal/mk64/mk64_constants.py
Labels: merge soon, mk64

#452 [SM64/F3D] Fix and update Ui Image Exporter
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_material.py
  fast64_internal/f3d/f3d_texture_writer.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/utility.py
Labels: bug, enhancement, merge soon, review code please, sm64, f3d
