Repository Fast-64/fast64, pull requests merged in 2025-04, with the labels that each got.

#509 [OoT] Fixed UI issue when an actor has no type
  fast64_internal/oot/actor/properties.py
  fast64_internal/oot/data/xml/ActorList.xml
Labels: bug, merge soon, oot

#508 [OoT] Update actor scale's default value
  fast64_internal/oot/f3d/operators.py
  fast64_internal/oot/f3d/properties.py
  fast64_internal/oot/oot_f3d_writer.py
  fast64_internal/oot/skeleton/importer/functions.py
  fast64_internal/oot/skeleton/properties.py
Labels: merge soon, oot

#496 [SM64] Add better exception processing to combined exporter
  fast64_internal/sm64/sm64_collision.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/utility.py
Labels: enhancement, merge soon, sm64

#484 [OoT] Updated `EnumData.xml` (fixes some cutscene import issues)
  fast64_internal/oot/data/xml/EnumData.xml
Labels: bug, merge soon, oot

#480 [OoT] Fixed standalone cutscene export
  fast64_internal/oot/cutscene/operators.py
Labels: bug, merge soon, oot
