Repository Fast-64/fast64, pull requests merged in 2025-01, with the labels that each got.

#242 [OOT] Detailed Actor Panel (Actors, Transition Actors, Entrance Actors)
  __init__.py
  fast64_internal/oot/actor/operators.py
  fast64_internal/oot/actor/properties.py
  fast64_internal/oot/data/oot_actor_data.py
  fast64_internal/oot/data/xml/ActorList.xml
  fast64_internal/oot/exporter/room/header.py
  fast64_internal/oot/exporter/scene/actors.py
  fast64_internal/oot/importer/actor.py
  fast64_internal/oot/importer/utility.py
  fast64_internal/oot/oot_upgrade.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/props_panel_main.py
  fast64_internal/oot/tools/operators.py
Labels: enhancement, merge soon, oot

#423 [SM64] Fix SM64 binary geolayout exports
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/sm64/sm64_geolayout_classes.py
  fast64_internal/sm64/sm64_geolayout_writer.py
Labels: bug, merge soon, sm64, f3d

#393 [SM64] Add in actor preset information for future use
  fast64_internal/sm64/sm64_constants.py
Labels: merge soon, sm64

#491 [OOT + F3D] More informative error messages for deleted lights
  fast64_internal/f3d/f3d_texture_writer.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/oot/exporter/scene/__init__.py
  fast64_internal/oot/exporter/scene/general.py
  fast64_internal/utility.py
Labels: enhancement, merge soon, oot, f3d

#492 SM64: Add missing typecasts from Gfx* to SetTileSize* to suppress compiler warnings
  fast64_internal/sm64/c_templates/tile_scroll.py
Labels: sm64

#487 [F3D] [Bugfix] Fix Sync Optimization for Mat Bleed
  fast64_internal/f3d/f3d_bleed.py
Labels: bug, f3d
