Repository Fast-64/fast64, pull requests merged in 2025-05, with the labels that each got.

#503 [OoT] Fixed writing to the spec file
  fast64_internal/oot/exporter/decomp_edit/spec.py
Labels: bug, merge soon, oot

#446 Make update UI more understandable
  README.md
  addon_updater.py
  addon_updater_ops.py
  images/mat_inspector.png
  images/updater_after_check.png
  images/updater_initially.png
  images/updater_install_main.png
  images/updater_success_restart.png
Labels: documentation, enhancement, test please

#522 [F3D] Use set for image and pal dependencies
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_texture_writer.py
Labels: bug, merge soon, f3d

#521 [F3D] Fix cycle 2 NOOP identifier
  fast64_internal/f3d/f3d_enums.py
Labels: merge soon

#507 [OoT] Fixed collision export
  fast64_internal/oot/__init__.py
  fast64_internal/oot/collision/exporter/to_c/collision.py
  fast64_internal/oot/exporter/collision/__init__.py
Labels: bug, merge soon, oot

#529 [F3D] Fix for blender 4.4
  fast64_internal/f3d/f3d_material_helpers.py
Labels: bug, merge soon, f3d

#525 [OoT] Add basic title cards support
  fast64_internal/oot/exporter/decomp_edit/__init__.py
  fast64_internal/oot/exporter/decomp_edit/scene_table.py
  fast64_internal/oot/exporter/scene/general.py
  fast64_internal/oot/scene/properties.py
Labels: enhancement, merge soon, oot

#528 [OoT] Scene/Cutscene Export Fixes
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/exporter/cutscene/actor_cue.py
  fast64_internal/oot/exporter/cutscene/camera.py
  fast64_internal/oot/exporter/scene/__init__.py
Labels: bug, merge soon, oot

#530 [OoT] Add move cutscene bone operator
  fast64_internal/oot/cutscene/motion/operators.py
  fast64_internal/oot/cutscene/motion/properties.py
  fast64_internal/oot/cutscene/motion/utility.py
Labels: enhancement, merge soon, oot

#536 [OoT] Fix player flipbooks export
  fast64_internal/oot/oot_f3d_writer.py
Labels: bug, merge soon, oot

#543 [OoT] Fixed object being added to the duplicated room object
  fast64_internal/oot/exporter/__init__.py
  fast64_internal/oot/exporter/room/__init__.py
  fast64_internal/oot/exporter/scene/__init__.py
  fast64_internal/oot/exporter/scene/rooms.py
  fast64_internal/oot/oot_object.py
Labels: bug, merge soon, oot
