Repository Fast-64/fast64, pull requests merged in 2025-06, with the labels that each got.

#546 [OoT] Fix animation exporter expecting an object name with custom paths
  fast64_internal/oot/animation/operators.py
Labels: bug, merge soon, oot

#549 [OoT] Fix includes for z64 prefix removal
  fast64_internal/oot/__init__.py
  fast64_internal/oot/animation/exporter/classes.py
  fast64_internal/oot/collision/exporter/to_c/collision.py
  fast64_internal/oot/cutscene/operators.py
  fast64_internal/oot/exporter/scene/__init__.py
  fast64_internal/oot/skeleton/exporter/functions.py
Labels: merge soon, oot

#550 Fix export of custom conveyorSpeed
  fast64_internal/oot/exporter/collision/__init__.py
  fast64_internal/oot/exporter/collision/surface.py
Labels: bug, merge soon, oot

#537 Cleanup: setOrigin()
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/skeleton/utility.py
  fast64_internal/oot/tools/operators.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/utility.py
Labels: codebase

#538 Cleanup: deselectAllObjects() and selectSingleObject()
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/f3d/op_largetexture.py
  fast64_internal/oot/collision/exporter/functions.py
  fast64_internal/oot/cutscene/importer/classes.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/skeleton/importer/functions.py
  fast64_internal/oot/skeleton/utility.py
  fast64_internal/operators.py
  fast64_internal/sm64/sm64_collision.py
  fast64_internal/sm64/sm64_geolayout_parser.py
  fast64_internal/sm64/sm64_geolayout_writer.py
  fast64_internal/sm64/sm64_objects.py
  fast64_internal/sm64/tools/operators.py
  fast64_internal/utility.py
  fast64_internal/utility_anim.py
Labels: codebase

#547 [OoT] Fix the importers
  fast64_internal/f3d/f3d_parser.py
  fast64_internal/oot/animation/importer/functions.py
  fast64_internal/oot/cutscene/classes.py
  fast64_internal/oot/cutscene/constants.py
  fast64_internal/oot/cutscene/importer/classes.py
  fast64_internal/oot/cutscene/motion/utility.py
  fast64_internal/oot/data/oot_enum_data.py
  fast64_internal/oot/data/xml/EnumData.xml
  fast64_internal/oot/exporter/collision/polygons.py
  fast64_internal/oot/exporter/collision/surface.py
  fast64_internal/oot/exporter/collision/waterbox.py
  fast64_internal/oot/exporter/scene/actors.py
  fast64_internal/oot/exporter/scene/general.py
  fast64_internal/oot/f3d/operators.py
  fast64_internal/oot/importer/actor.py
  fast64_internal/oot/importer/classes.py
  fast64_internal/oot/importer/room_header.py
  fast64_internal/oot/importer/room_shape.py
  fast64_internal/oot/importer/scene.py
  fast64_internal/oot/importer/scene_collision.py
  fast64_internal/oot/importer/scene_header.py
  fast64_internal/oot/importer/scene_pathways.py
  fast64_internal/oot/importer/utility.py
  fast64_internal/oot/oot_model_classes.py
  fast64_internal/oot/oot_utility.py
  fast64_internal/oot/skeleton/importer/functions.py
  fast64_internal/oot/skeleton/utility.py
  fast64_internal/utility.py
Labels: bug, merge soon, oot

#544 [SM64] Make switch material override stackable and apply layer reverts
  fast64_internal/f3d/f3d_bleed.py
  fast64_internal/f3d/f3d_gbi.py
  fast64_internal/f3d/f3d_writer.py
  fast64_internal/sm64/sm64_f3d_writer.py
  fast64_internal/sm64/sm64_geolayout_classes.py
  fast64_internal/sm64/sm64_geolayout_writer.py
Labels: bug, merge soon, sm64

#541 Create Game Data and move `fast64_internal/oot/data`
  fast64_internal/data/__init__.py
  fast64_internal/data/z64/actor_data.py
  fast64_internal/data/z64/common.py
  fast64_internal/data/z64/data.py
  fast64_internal/data/z64/enum_data.py
  fast64_internal/data/z64/object_data.py
  fast64_internal/data/z64/xml/mm_actor_list.xml
  fast64_internal/data/z64/xml/mm_enum_data.xml
  fast64_internal/data/z64/xml/mm_object_list.xml
  fast64_internal/data/z64/xml/oot_actor_list.xml
  fast64_internal/data/z64/xml/oot_enum_data.xml
  fast64_internal/data/z64/xml/oot_object_list.xml
  fast64_internal/game_data.py
  fast64_internal/mm/data/xml/ActorList.xml
  fast64_internal/z64/actor/operators.py
  fast64_internal/z64/actor/properties.py
  fast64_internal/z64/collision/constants.py
  fast64_internal/z64/collision/properties.py
  fast64_internal/z64/constants.py
  fast64_internal/z64/cutscene/classes.py
  fast64_internal/z64/cutscene/constants.py
  fast64_internal/z64/cutscene/motion/operators.py
  fast64_internal/z64/cutscene/motion/properties.py
  fast64_internal/z64/cutscene/operators.py
  fast64_internal/z64/cutscene/properties.py
  fast64_internal/z64/data/__init__.py
  fast64_internal/z64/data/oot_data.py
  fast64_internal/z64/data/oot_enum_data.py
  fast64_internal/z64/data/oot_object_data.py
  fast64_internal/z64/exporter/collision/surface.py
  fast64_internal/z64/exporter/cutscene/actor_cue.py
  fast64_internal/z64/exporter/cutscene/common.py
  fast64_internal/z64/exporter/cutscene/data.py
  fast64_internal/z64/exporter/cutscene/misc.py
  fast64_internal/z64/exporter/cutscene/seq.py
  fast64_internal/z64/exporter/cutscene/text.py
  fast64_internal/z64/exporter/room/header.py
  fast64_internal/z64/exporter/scene/actors.py
  fast64_internal/z64/importer/actor.py
  fast64_internal/z64/importer/room_header.py
  fast64_internal/z64/importer/scene_collision.py
  fast64_internal/z64/object.py
  fast64_internal/z64/room/operators.py
  fast64_internal/z64/room/properties.py
  fast64_internal/z64/upgrade.py
Labels: merge soon, codebase
