Repository Fast-64/fast64, pull requests merged in 2025-03, with the labels that each got.

#497 Check if fog data exists
  fast64_internal/f3d/f3d_gbi.py
Labels: merge soon, sm64

#502 Fix bug where water conveyors set COLPOLY_IS_FLOOR_CONVEYOR
  fast64_internal/oot/exporter/collision/__init__.py
  fast64_internal/oot/exporter/collision/polygons.py
Labels: bug, merge soon, oot

#504 [OoT] Fixed actor enums overriding actor types
  fast64_internal/oot/actor/properties.py
Labels: bug, oot
